<!DOCTYPE html>
<html class="wide wow-animation scrollTo" lang="en">

<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="keywords" content="intense web design multipurpose template html">
    <meta name="date" content="Dec 26">

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat:400,700%7CLato:300,300italic,400,700,900%7CYesteryear">
    <link rel="stylesheet" href="../static/css/style.css">
    <!--[if lt IE 10]>
    <div style="background: white; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;">
        <a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="../static/images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a>
    </div>

    <script src="../static/js/html5shiv.min.js"></script>

    <![endif]-->
</head>

<body>


    <div class="page text-center">
        <section class="section novi-background one-page bg-shark-radio" style="background: white">
            <div class="one-page-header">
                <!--Navbar Brand-->
                <div class="rd-navbar-brand">
                    <a href="prac/index.html">
                        <img style='margin-top: -5px; margin-left: -15px;' width='600' height='250' src='../static/images/gmit_lgo.jpg' alt='' />
                    </a>
                </div>
            </div>
            <!-- Login-->
            <section>
                <div class="container">
                    <div class="section-110 section-cover row justify-content-sm-center align-items-sm-center">
                        <div class="col-sm-8 col-md-6 col-lg-4">
                            <div class="card text-center section-34 section-sm-41 inset-left-20 inset-right-20 inset-md-left-20 inset-md-right-20 inset-xl-left-30 inset-xl-right-30 bg-default shadow-drop-md">
                                <div class="text-center">
                                    <!-- Icon Box Type 4-->
                                    <span class="icon novi-icon icon-circle icon-bordered icon-lg icon-default mdi mdi-account-multiple-outline"></span>
                                    <div>
                                        <div class="offset-top-24 text-darker big font-weight-bold">Login to your account</div>
                                        <p class="text-extra-small text-dark offset-top-4">Enter your credentials below</p>
                                    </div>
                                </div>
                                <form class="text-left offset-top-30" data-form-output="form-output-global" data-form-type="contact" method="post" action="/logindas">
                                    <div class="form-group">
                                        <div class="input-group input-group-sm">
                                            <span class="input-group-prepend">
                                                <span class="input-group-text input-group-icon input-group-addon-inverse">
                                                    <span class="novi-icon mdi mdi-account-outline"></span>
                                            </span>
                                            </span>
                                            <input class="form-control" id="login-your-login" placeholder="Your Login" type="text" name="login" data-constraints="@Required">
                                        </div>
                                    </div>

                                    <div class="form-group offset-top-20">
                                        <div class="input-group input-group-sm">
                                            <span class="input-group-prepend">
                                                <span class="input-group-text input-group-icon input-group-addon-inverse">
                                                    <span class="novi-icon mdi mdi-lock-open-outline">

                                                    </span>
                                            </span>
                                            </span>
                                            <input class="form-control" id="login-your-password" placeholder="Your Password" type="password" name="password" data-constraints="@Required">
                                        </div>


                                    </div>

                                    <button class="btn btn-sm btn-icon btn-block btn-primary offset-top-20" type="submit">
                                     <span class="icon novi-icon mdi mdi-arrow-right-bold-circle-outline"></span>
                                    Sign In
                                </button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </section>
    </div>
    <!-- Global RD Mailform Output -->
    <div class="snackbars" id="form-output-global"></div>
    <script src="../static/js/core.min.js"></script>
    <script src="../static/js/script.js"></script>
    <script src="../static/js/revolution.min.js"></script>
</body>

</html>