<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="keywords" content="intense web design multipurpose template html">
    <meta name="date" content="Dec 26">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script href="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/style.css">
    <script href="../static/js/core.min.js"></script>
    <script href="../static/js/script.js"></script>
    <script href="../static/js/revolution.min.js"></script>



    <title>GMIT-Forum</title>
</head>

<body class="bg-light">
    <div class="page text-center">
        <div class="container bg-light">
            <div class="container">
                <img src="../static/images/gmitlogo.jpg" class="img-rounded" style="height: 100px;">
            </div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="http://www.baidu.com">Home</a>
                <a class="navbar-brand" href="http://www.baidu.com">Learnonline</a>
                <a class="navbar-brand" href="http://www.baidu.com">Outlook</a>
                <a class="navbar-brand" href="http://www.baidu.com">Timetable</a>
            </nav>

            <section class="section novi-background breadcrumb-classic">
                <div class="container section-34 section-sm-50">
                    <div class="row align-items-xl-center">
                        <div class="col-xl-5 d-none d-xl-block text-xl-left">
                            <h2><span class="big">Events</span></h2>
                        </div>
                        <div class="col-xl-2 d-none d-md-block"><span class="icon icon-white mdi mdi-calendar"></span></div>
                    </div>
                </div>
                <svg class="svg-triangle-bottom" xmlns="http://www.w3.org/2000/svg" version="1.1">
                <defs>
                    <lineargradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
                        <stop offset="0%" style="stop-color:rgb(110,192,161);stop-opacity:1"></stop>
                        <stop offset="100%" style="stop-color:rgb(111,193,156);stop-opacity:1"></stop>
                    </lineargradient>
                </defs>
                <polyline points="0,0 60,0 29,29" fill="url(#grad1)"></polyline>
            </svg>
            </section>


            <section class="section novi-background section-98 section-sm-110 bg-light">
                <div class="container">
                    <div class="row justify-content-sm-center">
                        <div class="col-lg-4 col-xl-3">
                            <!-- Section Blog Events-->
                            <aside class="text-left">
                                <div class="row">
                                    <div class="col-md-6 col-lg-12 offset-md-top-41 offset-lg-top-0">
                                        <div calendar class="calendar" id="calendar"></div>

                                    </div>

                                    <div class="offset-top-34">
                                        <div class="group-xs flickr widget-flickrfeed" data-lightgallery="group" data-flickr-tags="tm58888_landscapes">
                                            <a class="flickr-item thumbnail-classic" data-lightgallery="item" href="" data-image_c="href" data-type="flickr-item">
                                                <img width="82" height="82" data-title="alt" src="../static/images/_blank.png" alt="" data-image_q="src">
                                            </a>
                                            <a class="flickr-item thumbnail-classic" data-lightgallery="item" href="" data-image_c="href" data-type="flickr-item">
                                                <img width="82" height="82" data-title="alt" src="../static/images/_blank.png" alt="" data-image_q="src">
                                            </a>
                                            <a class="flickr-item thumbnail-classic" data-lightgallery="item" href="" data-image_c="href" data-type="flickr-item">
                                                <img width="82" height="82" data-title="alt" src="../static/images/_blank.png" alt="" data-image_q="src">
                                            </a>
                                            <a class="flickr-item thumbnail-classic" data-lightgallery="item" href="" data-image_c="href" data-type="flickr-item">
                                                <img width="82" height="82" data-title="alt" src="../static/images/_blank.png" alt="" data-image_q="src">
                                            </a>
                                            <a class="flickr-item thumbnail-classic" data-lightgallery="item" href="" data-image_c="href" data-type="flickr-item">
                                                <img width="82" height="82" data-title="alt" src="../static/images/_blank.png" alt="" data-image_q="src">
                                            </a>
                                            <a class="flickr-item thumbnail-classic" data-lightgallery="item" href="" data-image_c="href" data-type="flickr-item"><img width="82" height="82" data-title="alt" src="../static/images/_blank.png" alt="" data-image_q="src"></a>
                                            <a class="flickr-item thumbnail-classic" data-lightgallery="item" href="" data-image_c="href" data-type="flickr-item"><img width="82" height="82" data-title="alt" src="../static/images/_blank.png" alt="" data-image_q="src"></a>
                                            <a class="flickr-item thumbnail-classic" data-lightgallery="item" href="" data-image_c="href" data-type="flickr-item"><img width="82" height="82" data-title="alt" src="../static/images/_blank.png" alt="" data-image_q="src"></a>
                                            <a class="flickr-item thumbnail-classic" data-lightgallery="item" href="" data-image_c="href" data-type="flickr-item"><img width="82" height="82" data-title="alt" src="../static/images/_blank.png" alt="" data-image_q="src"></a>
                                        </div>
                                    </div>
                            </aside>
                            </div>
                            <div class="col-lg-8 offset-top-66 offset-lg-top-0">
                                <div class="inset-lg-left-20">
                                    <!-- Blog Default Single-->
                                    <section>
                                        <!-- Post Event-->
                                        <article class="post post-event post-event-right">
                                            <!-- Post media-->
                                            <header class="post-media">
                                                <div data-lightgallery="group">
                                                    <a class="thumbnail-classic" data-lightgallery="item" href="../static/images/blog/post-04-1170x600.jpg">
                                                        <figure><img width="570" height="321" src="../static/images/blog/post-04-570x321.jpg" alt="">
                                                        </figure>
                                                    </a>
                                                </div>
                                            </header>
                                            <!-- Post content-->
                                            <section class="post-content text-left offset-top-41">
                                                <!-- Post Title-->
                                                <h3 id="firstry" class="offset-top-10">{{haha}}</h3>
                                                <!-- Post Body-->
                                                <div class="post-body">
                                                    <p>{{li}}</p>
                                                    <p>{{li}}</p>
                                                    <!-- Quote Simple-->
                                                    <hr>
                                                    <div class="h3 text-center text-italic">
                                                        <q>I am really happy I’ve purchased a template from TemplateMonster.
                                                    Congratulations!</q>
                                                    </div>
                                                    <hr>

                                                    <footer class="offset-top-50 text-md-left clearfix">
                                                        <div class="group"><a class="btn btn-danger btn-icon btn-icon-left" href="#"><span
                                                        class="novi-icon icon icon-xs mdi mdi-heart"></span>like <span
                                                        class="badge">521</span></a><a class="btn btn-info btn-icon btn-icon-left" href="#"><span
                                                        class="novi-icon icon icon-xs mdi mdi-facebook"></span>Share on
                                                    facebook</a><a class="btn btn-sapphire btn-icon btn-icon-left" href="#"><span
                                                        class="novi-icon icon icon-xs mdi mdi-twitter"></span>Share on
                                                    Twitter</a></div>
                                                    </footer>
                                                </div>
                                                <!-- Post meta-->
                                                <div class="post-meta context-dark">
                                                    <time datetime="2019-01-01"><span class="post-meta-day">8</span><span
                                                    class="big text-uppercase post-meta-month">Mar</span></time>
                                                </div>
                                            </section>
                                        </article>
                                        <hr class="offset-top-66">
                                        <h4 class="offset-top-66 text-uppercase text-spacing-120 text-left font-weight-bold">42 Comments
                                        </h4>
                                        <div class="offset-top-41">
                                            <!-- Box Comment-->
                                            <div class="box-comment text-left box-comment-outboxed">
                                                <div class="media">
                                                    <div class="media-left"><img class="rounded-circle box-comment-img" src="../static/images/users/user-alex-merphy-60x60.jpg" alt="Alex Merphy" width="60" height="60"></div>
                                                    <div class="media-body">

                                                        <header class="box-comment-header unit flex-column unit-spacing-xxs unit-md flex-lg-row flex-lg-row-reverse align-items-lg-center justify-content-lg-end">
                                                            <div class="unit-left unit-grow">
                                                                <ul class="box-comment-meta list-inline list-inline-sm text-dark">
                                                                    <li class="list-inline-item"><span class="novi-icon box-comment-icon mdi mdi-clock"></span>
                                                                        <time datetime="2019-01-01">Feb 18, 9:14</time>
                                                                    </li>
                                                                    <li class="list-inline-item"><a href="#like"><span
                                                                    class="novi-icon box-comment-icon mdi mdi-thumb-up-outline"></span>
                                                                Like</a></li>
                                                                    <li class="list-inline-item"><a href="#reply"><span
                                                                    class="novi-icon box-comment-icon mdi mdi-message-outline"></span>
                                                                Reply</a></li>
                                                                </ul>
                                                            </div>
                                                            <div class="unit-body">
                                                                <h6 class="box-comment-title">Alex Merphy</h6>
                                                            </div>
                                                        </header>
                                                        <section class="box-comment-body">
                                                            <p>Very smart people working on the project — they provided great insight and brought experience to it. Sales person was very prompt.
                                                            </p>
                                                        </section>
                                                    </div>
                                                </div>
                                                <!-- Box Comment-->
                                                <div class="box-comment text-left box-comment-outboxed">
                                                    <div class="media">
                                                        <div class="media-left"><img class="rounded-circle box-comment-img" src="../static/images/users/user-kira-force-60x60.jpg" alt="Kira Force" width="60" height="60">
                                                        </div>
                                                        <div class="media-body">
                                                            <header class="box-comment-header unit flex-column unit-spacing-xxs unit-md flex-lg-row flex-lg-row-reverse align-items-lg-center justify-content-lg-end">
                                                                <div class="unit-left unit-grow">
                                                                    <ul class="box-comment-meta list-inline list-inline-sm text-dark">
                                                                        <li class="list-inline-item"><span class="novi-icon box-comment-icon mdi mdi-clock"></span>
                                                                            <time datetime="2019-01-01">Feb 18, 10:13</time>
                                                                        </li>
                                                                        <li class="list-inline-item"><a href="#like"><span
                                                                        class="novi-icon box-comment-icon mdi mdi-thumb-up-outline"></span>
                                                                    Like</a></li>
                                                                        <li class="list-inline-item"><a href="#reply"><span
                                                                        class="novi-icon box-comment-icon mdi mdi-message-outline"></span>
                                                                    Reply</a></li>
                                                                    </ul>
                                                                </div>
                                                                <div class="unit-body">
                                                                    <h6 class="box-comment-title">Kira Force</h6>
                                                                </div>
                                                            </header>
                                                            <section class="box-comment-body">
                                                                <p>They have outperformed every expectation we had. The company promised — and delivered with fewer steps and minimal paper.
                                                                </p>
                                                            </section>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Box Comment-->
                                                <div class="box-comment text-left box-comment-outboxed">
                                                    <div class="media">
                                                        <div class="media-left"><img class="rounded-circle box-comment-img" src="../static/images/users/user-eugene-newman-60x60.jpg" alt="Eugene Newman" width="60" height="60">
                                                        </div>
                                                        <div class="media-body">
                                                            <header class="box-comment-header unit flex-column unit-spacing-xxs unit-md flex-lg-row flex-lg-row-reverse align-items-lg-center justify-content-lg-end">
                                                                <div class="unit-left unit-grow">
                                                                    <ul class="box-comment-meta list-inline list-inline-sm text-dark">
                                                                        <li class="list-inline-item"><span class="novi-icon box-comment-icon mdi mdi-clock"></span>
                                                                            <time datetime="2019-01-01">Feb 18, 9:14</time>
                                                                        </li>
                                                                        <li class="list-inline-item"><a href="#like"><span
                                                                        class="novi-icon box-comment-icon mdi mdi-thumb-up-outline"></span>
                                                                    Like</a></li>
                                                                        <li class="list-inline-item"><a href="#reply"><span
                                                                        class="novi-icon box-comment-icon mdi mdi-message-outline"></span>
                                                                    Reply</a></li>
                                                                    </ul>
                                                                </div>
                                                                <div class="unit-body">
                                                                    <h6 class="box-comment-title">Eugene Newman</h6>
                                                                </div>
                                                            </header>
                                                            <section class="box-comment-body">
                                                                <p>The service is excellent and the personnel I worked with are great. Very responsive team and easy company to work with. I enjoy our partnership.</p>
                                                            </section>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Box Comment-->
                                            <div class="box-comment text-left box-comment-outboxed">
                                                <div class="media">
                                                    <div class="media-left"><img class="rounded-circle box-comment-img" src="../static/images/users/user-diana-russo-60x60.jpg" alt="Diana Russo" width="60" height="60"></div>
                                                    <div class="media-body">
                                                        <header class="box-comment-header unit flex-column unit-spacing-xxs unit-md flex-lg-row flex-lg-row-reverse align-items-lg-center justify-content-lg-end">
                                                            <div class="unit-left unit-grow">
                                                                <ul class="box-comment-meta list-inline list-inline-sm text-dark">
                                                                    <li class="list-inline-item"><span class="novi-icon box-comment-icon mdi mdi-clock"></span>
                                                                        <time datetime="2019-01-01">Feb 17, 7:34</time>
                                                                    </li>
                                                                    <li class="list-inline-item"><a href="#like"><span
                                                                    class="novi-icon box-comment-icon mdi mdi-thumb-up-outline"></span>
                                                                Like</a></li>
                                                                    <li class="list-inline-item"><a href="#reply"><span
                                                                    class="novi-icon box-comment-icon mdi mdi-message-outline"></span>
                                                                Reply</a></li>
                                                                </ul>
                                                            </div>
                                                            <div class="unit-body">
                                                                <h6 class="box-comment-title">Diana Russo</h6>
                                                            </div>
                                                        </header>
                                                        <section class="box-comment-body">
                                                            <p>An efficient and reliable resource. They always remain flexible, cost effective, and lightning fast. Keep up the good work!</p>
                                                        </section>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <h4 class="offset-top-34 text-uppercase text-spacing-120 text-left font-weight-bold">
                                            Leave a comment
                                        </h4>
                                        <form class="rd-mailform offset-top-10 text-left" data-form-output="form-contact-me" data-form-type="contact" method="post" action="bat/rd-mailform.php">
                                            <div class="form-group">
                                                <label class="form-label form-label-outside" for="comment-message">Message:</label>
                                                <textarea class="form-control" id="comment-message" data-constraints="@Required" style="height: 170px"></textarea>
                                            </div>
                                            <div class="group-sm text-left offset-top-30">
                                                <button class="btn btn-md btn-primary" type="submit">comment</button>
                                            </div>
                                        </form>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
            </section>

            <div class="footer">
                <footer style="margin-left: 300px " class="section novi-background section-relative section-top-66 section-bottom-34 page-footer  ">
                    <div class="container offset-top-50">
                        <p class="small text-darker">Created for GMIT &copy; <span class="copyright-year"></span> . <a href="http://www.gmit.ie">GALWAY INSTITUTE OF TECHNOLOGY</a> . Design&nbsp;by&nbsp;Dongming Guo
                        </p>
                    </div>
                </footer>
            </div>
            </div>
        </div>
        <script src="../static/js/core.min.js"></script>
        <script src="../static/js/script.js"></script>
        <script src="../static/js/revolution.min.js"></script>
</body>

</html>